@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&Assistant:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.autofill-text:-webkit-autofill {
  -webkit-text-fill-color: white;
}

.header-font {
  font-family: "Allerta Stencil", sans-serif;
}

.content-font {
  font-family: "Assistant", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .xl-container {
    @apply mx-auto max-w-[1480px];
  }

  .max-container {
    @apply mx-auto max-w-[1300px];
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .image-grayscale {
    @apply grayscale transition duration-1000 ease-in-out hover:grayscale-0 hover:brightness-90;
  }

  /* NAVIGATION */

  .nav-menu {
    @apply flex items-center gap-6;
  }

  .nav-links {
    @apply uppercase text-sm cursor-pointer content-font tracking-wider transition-all;
  }

  .nav-bg-onscroll {
    @apply bg-gray-10 text-midnight backdrop-filter backdrop-blur-md bg-opacity-70 border-b-0 font-normal;
  }

  .nav-bg-default {
    @apply xl-container bg-transparent border-b-[1px] border-gray-20 text-cream font-light;
  }

  .nav-menu-mobile {
    @apply flex flex-col items-end gap-6;
  }

  .mobile-links {
    @apply uppercase cursor-pointer text-[20px] content-font tracking-wider font-light text-cream hover:text-gray-50 transition-all mr-6;
  }

  .mobile-menu {
    @apply lg:hidden absolute top-0 left-0 right-0 bottom-0 flex justify-end items-center h-svh w-full bg-gray-70 ease-in duration-500;
  }

  .mobile-menu-close {
    @apply lg:hidden absolute top-0 left-[-100%] right-0 bottom-0 flex justify-end items-center h-svh w-full bg-gray-70 ease-in duration-500;
  }

  /* FONTS */

  .links {
    @apply cursor-pointer content-font tracking-wider text-midnight hover:text-gray-30 transition-all;
  }

  .header-light {
    @apply bg-cream;
  }

  .header-dark {
    @apply bg-midnight;
  }

  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }

  .bold-28 {
    @apply text-[28px] font-[700];
  }

  .bold-24 {
    @apply text-[24px] font-[700];
  }

  .bold-20 {
    @apply text-[20px] font-[700];
  }

  .bold-18 {
    @apply text-[18px] font-[700];
  }

  .bold-16 {
    @apply text-[16px] font-[700];
  }

  .bold-15 {
    @apply text-[15px] font-[700];
  }

  .bold-14 {
    @apply text-[14px] font-[700];
  }

  .content-size {
    @apply text-[14px] md:text-[15px] tracking-wider content-font;
  }

  .bold-content {
    @apply bold-16 min-[350px]:bold-20 md:bold-28;
  }

  /* FORM */
  .text-input {
    @apply autofill-text; /* set text colour (white) */
    @apply autofill:shadow-[inset_0_0_0px_1000px_#000]; /* set 'background' colour (black)*/
    @apply autofill:text-sm; /* set font size */
  }

  .form-input {
    @apply p-2 w-full bg-gray-70 border-b-[1px] border-gray-30 outline-none placeholder:text-cream placeholder-shown:border-gray-30 autofill:bg-transparent focus:ring-0;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
