@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&Assistant:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-font {
  font-family: "Allerta Stencil", sans-serif;
}

.content-font {
  font-family: "Assistant", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .nav-link {
    @apply cursor-pointer text-midnight hover:text-shadow-sm shadow-gray-30 transition-all;
  }

  .xl-container {
    @apply mx-auto max-w-[1480px];
  }

  .max-container {
    @apply mx-auto max-w-[1300px];
  }

  .padding-container {
    @apply px-6 lg:px-14;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  /* FONTS */

  .header-light {
    @apply bg-cream;
  }

  .header-dark {
    @apply bg-midnight;
  }

  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }

  .bold-28 {
    @apply text-[28px] font-[700];
  }

  .bold-24 {
    @apply text-[24px] font-[700];
  }

  .bold-20 {
    @apply text-[20px] font-[700];
  }

  .bold-18 {
    @apply text-[18px] font-[700];
  }

  .bold-16 {
    @apply text-[16px] font-[700];
  }

  .bold-15 {
    @apply text-[15px] font-[700];
  }

  .bold-14 {
    @apply text-[14px] font-[700];
  }

  .content-size {
    @apply text-[14px] md:text-[15px] tracking-wider content-font;
  }

  .bold-content {
    @apply bold-18 min-[350px]:bold-20 md:bold-28;
  }

  /* BUTTONS */
  .btn-outline-dark {
    @apply text-midnight border-2 border-midnight px-5 py-3 rounded-full hover:text-shadow-sm shadow-gray-30 transition-all;
  }

  .btn-outline-light {
    @apply text-cream border-2 border-cream px-5 py-3 rounded-full hover:text-shadow-sm shadow-gray-90 transition-all;
  }

  .btn-dark {
    @apply text-cream border-2 border-crimson bg-crimson px-5 py-3 rounded-full hover:text-shadow-sm shadow-cream transition-all;
  }

  .btn-light {
    @apply text-midnight border-2 border-cream bg-cream px-5 py-3 rounded-full hover:text-shadow-sm shadow-gray-30 transition-all;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
